.categoryFrame {
  box-shadow: 6cm;
  top: 0;
  align-items: center;
  display: flex;
  /* padding: 50px; */
  /* padding-left: 650px; */
  /* padding: 50px; */
  margin: 50px;
  /* padding: 50px; */
  justify-content: flex-end;
}
.categoryTile {
  background-color: white;
  margin: 10px;
  display: flex;
  flex-direction: column;
  /* z-index: 5; */
  align-items: center;
  justify-content: flex-end;
}
