.categoryFrame {
  box-shadow: 6cm;
  top: 0;
  /* align-items: center; */
  display: flex;
  /* margin: 50px; */
  /* padding: 50px; */
  justify-content: flex-end;
}
.categoryTile {
  /* background-color: white; */
  display: flex;
  /* max-height: 500px; */
  width: auto;
  /* object-fit: contain; */
  /* margin-bottom: 20px; */
}

img {
 
  width: 300px;
  height: auto;
  object-fit: cover;
  display: flex;
  margin-right: 60px;
  /* align-items:left ;  */
}